div.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size:20px;
}
nz-timeline-item {
  font-size: 1.8rem !important;
  margin: 2rem auto !important;
}
