div.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 15px;
  font-size:20px;
  height: 100%;
  width:100%;
}
nz-timeline-item {
  font-size: 1.8rem !important;
  margin: 2rem auto !important;
}
:host {
      text-align: center;
      height:100%;
      nz-layout {
        height: 100%;
      }
    }
    :host ::ng-deep .ant-layout-header,
    :host ::ng-deep .ant-layout-footer {
      background: #7dbcea;
      color: #fff;
    }

    :host ::ng-deep .ant-layout-footer {
      line-height: 1.5;
    }

    :host ::ng-deep .ant-layout-sider {
      background: #3ba0e9;
      color: #fff;
      line-height: 120px;
    }

    :host ::ng-deep .ant-layout-content {
      color: #fff;
      min-height: 120px;
      line-height: 120px;
    }

    :host > ::ng-deep .ant-layout {
      margin-bottom: 48px;
    }

    :host ::ng-deep .ant-layout:last-child {
      margin: 0;
    }
